server:
  address: 0.0.0.0
  port: 8080
  tomcat:
    threads:
      max: 200
      min-spare: 10
    accept-count: 100

spring:
  servlet:
    multipart:
      max-file-size: 6MB         # 1개 파일 상한
      max-request-size: 20MB     # 요청 전체 상한

  jwt:
    secret: ${JWT_SECRET_KEY}
    access:
      expiration: 3600000
      header: Authorization
    refresh:
      expiration: 1209600000
      header: X-Refresh-Token

  web:
    resources:
      static-locations: file:uploads/

  application:
    name: DailyBoost
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/DailyBoost
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: localhost
      port: 6379
#      password: ${REDIS_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  ai:
    vertex:
      ai:
        gemini:
          project-id: ${PROJECT_ID}
          location: us-central1
          chat:
            options:
              model: gemini-2.0-flash-lite
              temperature: 0.5
    openai:
      api-key: ${GEMINI_API_KEY}

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

        registration:
          kakao:
            client-id: ${KAKAO_ID}
            client-secret: ${KAKAO_SECRET_KEY}
            scope:
              - profile_nickname
              - profile_image
              - account_email
              - name
              - gender
              - birthday
              - birthyear
            redirect-uri: "http://112.165.239.133:8080/login/oauth2/code/kakao"
            client-name: kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post

          naver:
            client-id: ${NAVER_ID}
            client-secret: ${NAVER_SECRET_KEY}
            scope:
              - email
              - name
              - nickname
              - profile_image
              - gender
              - birthday
              - birthyear
            redirect-uri: "http://112.165.239.133:8080/login/oauth2/code/naver"
            client-name: naver
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post


          google:
            client-id: ${GOOGLE_ID}
            client-secret: ${GOOGLE_SECRET_KEY}
            scope:
              - profile
              - email
            redirect-uri: "http://112.165.239.133:8080/login/oauth2/code/google"
            client-name: google
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

file:
  dir: /Users/mirae/upload-dir

  springdoc:
    swagger-ui:
      path: /api-test  # swagger-ui 접근 경로에 대한 별칭, 해당 주소로 접속해도 http://localhost:8080/swagger-ui/index.html로 리다이렉션 됨.
      groups-order: DESC # path, query, body, response 순으로 출력
      tags-sorter: alpha # 태그를 알파벳 순으로 정렬
      operations-sorter: method  # delete - get - patch - post - put 순으로 정렬, alpha를 사용하면 알파벳 순으로 정렬 가능
    paths-to-match:
      - /api/** # swagger-ui에 표시할 api의 엔드포인트 패턴



#logging:
#  level:
#    org.springframework.boot.autoconfigure: DEBUG
#    org.springframework.security: DEBUG
#    org.springframework.security.oauth2.client: DEBUG
#    org.springframework.security.oauth2.core: DEBUG
#    org.springframework.web: DEBUG